DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN

# You can create one pair per account you want to run:
AC_USER_JOSH=my.username
AC_PASS_JOSH=my.password

# If you have another account:
AC_USER_ALT=another.username
AC_PASS_ALT=another.password
